<footer>  
  <div class="container"> 
    <div class="span-12 last">
      <h2 >Connect <span class="ampersand">&&nbsp;</span> Follow</h2>
      {% assign size = '24' %}
      <ul  id="contact-icons">
        <li><a class="image-wrapper" href="{{ site.feed }}"><img src="/img/icon/rss.png" alt="my_face" height="{{ size }}" width="{{ size }}"></a>Subscribe to my <a href="{{ site.feed }}">notebook</a></li>
          <li><a class="image-wrapper"  href="mailto:{{ site.email }}"><img src="/img/icon/mail.png" alt="my_face" height="{{ size }}" width="{{ size }}"></a>Email <a href="mailto:{{ site.email }}">myself@mariusv.com</a></li>
        <li><a class="image-wrapper"  href="{{ site.twitter }}"><img src="/img/icon/twitter.png" alt="my_face" height="{{ size }}" width="{{ size }}"></a>Twitter <a href="{{ site.twitter }}">twitter.com/abisdemon</a></li>
        <li><a class="image-wrapper"  href="{{ site.lastfm }}"><img src="/img/icon/lastfm.png" alt="my_face" height="{{ size }}" width="{{ size }}"></a>Lastfm <a href="{{ site.lastfm }}">last.fm/mariusvoila</a></li>
        <li><a class="image-wrapper"  href="{{ site.github }}"><img src="/img/icon/github.png" alt="my_face" height="{{ size }}" width="{{ size }}"></a>Github <a href="{{ site.github }}">githubcom.mariusv</a></li>
        <li><a class="image-wrapper"  href="{{ site.linkedin }}"><img src="/img/icon/linkedin.png" alt="my_face" height="{{ size }}" width="{{ size }}"></a>Linkedin <a href="{{ site.linkedin }}">ro.linkedin.com/in/mariusvoila</a></li>
      </ul>
    </div>

    <div id="copyright" class="span-12 last">
      <p>
        Copyright &copy; Marius Voila 2010 | <a href="/colophon.html">Colophon</a>        
      </p>
    </div>
  </div>  
</footer>
