<header>
  <div class="container">
    <div id="name-title" class="span-5">
      <h1><a href="http://localhost">inspi(red)</a></h1>
    </div>
    
    <nav id="main" class="span-7 last">
        <ul>
	  <li>{% if page.title !='Portfolio' %}<a href="/folio.html">{% else %}<span class="selected">{% endif %}Portfolio{% if page.title != 'Portfolio' %}</a>{% else %}</span>{% endif %}</li>
	  <li>{% if page.title !='Blog' %}<a href="/notebook.html">{% else %}<span class="selected">{% endif %}Blog{% if page.title != 'Blog' %}</a>{% else %}</span>{% endif %}</li>
          <li>{% if page.title != 'About' %}<a href="/about.html">{% else %}<span class="selected">{% endif %}About{% if page.title != 'About' %}</a>{% else %}</span>{% endif %}</li>  
	</ul>
    </nav>
  </div>
</header>
